extends layout

block customCSS
    link(rel="stylesheet" href="/stylesheets/index.css")

block content
  div(class="space")
    form(class="form-outer" id="upload" ref="upload" action="/upload" method="post" encType="multipart/form-data")
      div(class="form-group")
        h4 CPS is a crossword solver that takes an image of an incomplete (either empty or with handwriting) crossword puzzle and outputs an image of our server's best guess of your puzzle's answer. Upload the image below, drag a box over your puzzle, and watch the magic happen :) 
        input(class="form-control" type="file" name="image")
        input(class="btn btn-primary" color="#8E4C4C" type="submit" value="Upload")