extends layout
block customCSS
	link(rel="stylesheet" href="/stylesheets/index.css")

block content
	div(id="wrapper" style="max-width: 1000px; margin: 20px auto;")
		div(id="cw_container")
			svg(id="crossword" viewBox="0 0 605 605")
		div(id="cluelist" style="max-width: 300px; margin: 0 auto; display: inline-block;")
			div(style="width: 46%; color: white; display: inline-block; vertical-align: top;")
				h4(style="margin-bottom: 0.25em;") ACROSS
				div(id="cluesacross" style="height: 500px; overflow: scroll;")
			div(style="width: 46%; color: white; display: inline-block; vertical-align: top;")
				h4(style="margin-bottom: 0.25em;") DOWN
				div(id="cluesdown" style="height: 500px; overflow: scroll;")
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="/javascripts/grid.js")