extends layout

block customCSS
    link(rel="stylesheet" href="/stylesheets/index.css")

block content
  form(class="form-outer" id="upload" ref="upload" action="/generate" method="get")
      div(class="form-group")
        h4 Generate Answer
        input(class="btn btn-primary" color="#8E4C4C" type="submit" value="Upload")
  div(class="picture")
  script
    include /javascripts/brush.js