doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
    script
      include /bootstrap/js/bootstrap.js
    script
      include /d3/d3.js
    block customCSS
  body
    div(class="space")
    img(src='/images/logo1.png')
    img(src='/images/logo2.png')
    block content
