
html,
img {
  box-align: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #8E4C4C !important;
    border-color: #6B3C3C !important;
    background-image: -webkit-linear-gradient(top,#8E4C4C 0,#6B3C3C 80%) !important;
}

.grid-container {
  display: grid;
  margin:0 auto;
  grid-template-columns: repeat(15, minmax(100px, 1fr));
  padding: 10px;
  box-align: center;
  width: 70%;
  width: 70vw;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.space{
  height: 100px;
}
body {
  background-color: #504040;
  text-align: center;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 320px;
}

header {
  font-size: 1em;
  font-weight: bold;
  margin: 20px;
}
h4 {
  font-size: 1em;
  font-weight: 100;
  margin: 10px;
}

.form-outer {
  background-color: #958181;
  margin: 0 auto;
  border-radius: 0px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.form-control {
  background-color: #958181;
  border-color: #958181;
}
input[type=file] {
  margin: 0 auto;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

#cw_container {
  width: 500px;
  height: 705px;
  margin: 20px 0;
  display: inline-block;
  vertical-align: top;
}
* {
	cursor: default;
}
*:focus {
	outline: none;
}
svg {
  font-family: sans-serif;
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}